.country{
    border: 5px solid skyblue;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.visited{
    background-color: bisque;
}
.flag-container img{
    width: 100px;
}
.flag-container{
    margin: 10px;
    gap: 10px;
}